<div class="d-flex">
    <!-- Sidebar -->
    <div class="border-end bg-white p-3" style="width: 350px;">
        <h5 class="fw-bold">Sidebar</h5>
        <p>Items</p>
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action">Item 1</button>
            <button type="button" class="list-group-item list-group-item-action">Item 2</button>
            <button type="button" class="list-group-item list-group-item-action">Item 3</button>
        </div>
    </div>

</div>